[submodule "tiny-AES-c"]
	path = tiny-AES-c
	url = https://github.com/kokke/tiny-AES-c.git
[submodule "Adafruit-PN532"]
	path = Adafruit-PN532
	url = git@github.com:adafruit/Adafruit-PN532.git
[submodule "pn532-lib"]
	path = pn532-lib
	url = git@github.com:paulcager/pn532-lib.git
[submodule "tinycrypt"]
	path = tinycrypt
	url = git@github.com:intel/tinycrypt.git
[submodule "Pico-PIO-USB"]
	path = Pico-PIO-USB
	url = git@github.com:sekigon-gonnoc/Pico-PIO-USB.git
[submodule "unity"]
	path = unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "cdc_stdio_lib"]
	path = cdc_stdio_lib
	url = https://github.com/rppicomidi/cdc_stdio_lib.git
